# 네이버 지도 API 키 (ncpKeyId)
# https://navermaps.github.io/maps.js.ncp/docs/tutorial-2-Getting-Started.html 참고
REACT_APP_NAVER_MAPS_CLIENT_ID=your_ncp_key_id_here

# (서버 전용) 네이버 API 게이트웨이 인증 정보
# Directions 5 호출에 필요합니다. 클라이언트에 노출되지 않습니다.
NCP_CLIENT_ID=your_ncp_key_id_here
NCP_CLIENT_SECRET=your_ncp_api_gateway_secret_here
